@page "/sedi"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HRManagement.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Sedi</PageTitle>

<h1>Sedi</h1>

<a class="btn btn-primary" href="createhardskill">
    <i class="oi oi-pencil"></i> Inserisci
</a>

    @if (sedi == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Sede</th>
                <th>Indirizzo</th>
                <th>Recapito Telefonico</th>
                <th>Indirizzo e-Mail</th>
                <th>Referente</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sede in sedi)
            {
                <tr>
                    <td>@sede.Descrizione</td>
                    <td>@sede.Indirizzo</td>
                    <td>@sede.RecapitoTelefonico</td>
                    <td>@sede.EmailSede</td>
                    <td>@sede.ReferenteNavigation.Nome @sede.ReferenteNavigation.Cognome</td>
                    <td>
                        <a class="btn btn-info" href="editsedi/@sede.SedeId">
                            <i class="oi oi-pencil"></i> Modifica
                        </a>
                        <a class="btn btn-danger" href="deletesedi/@sede.SedeId">
                            <i class="oi oi-trash"></i> Elimina
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Sede>? sedi;
    private int? idRicerca;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            sedi = await Http.GetFromJsonAsync<List<Sede>>($"api/Sedi/{idRicerca}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
