@page "/visualizza/candidati"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Candidati</PageTitle>

<h1>Candidati</h1>

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary" href="/aggiungi/candidati"><i class="oi oi-pencil"></i>Inserisci</a>
        <div class="input-group col">
            <input type="text" class="form-control" placeholder="Trova elemento per ID"
                   @bind="idRicerca" @bind:event="oninput" @onkeyup="OnInitializedAsync" />
            @if (idRicerca != null)
            {
                <div class="input-group-append">
                    <button class="btn btn-danger" @onclick="ResetSearch">
                        <i class="oi oi-x"></i>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@if (candidati == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    if (candidati.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Nome Candidato</th>
                    <th>Comune di Nascita</th>
                    <th>Provincia di Nascita</th>
                    <th>Stato di Nascita</th>
                    <th>Recapito Telefonico</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in candidati)
                {
                    <tr>
                        <td>@c.Nome @c.Cognome</td>
                        <td>@c.ComuneNascita</td>
                        <td>@c.ProvinciaNascita</td>
                        <td>@c.StatoNascita</td>
                        <td>@c.RecapitoTelefonico</td>
                        <td>@c.Email</td>
                        <td>
                            <a class="btn btn-primary" href="/dettaglio/candidati/@c.CandidatoId">
                                <i class="oi oi-pencil"></i> Dettagli
                            </a>
                            <a class="btn btn-info" href="/modifica/candidati/@c.CandidatoId">
                                <i class="oi oi-pencil"></i> Modifica
                            </a>
                            <a class="btn btn-danger" href="elimina/candidati/@c.CandidatoId">
                                <i class="oi oi-trash"></i> Elimina
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="row">
            <div class="col">
                <AlertComponent IsDismissable="true"
                                Icon="bi-exclamation-trianglefill"
                                ColorTheme="warning"
                                Title="Attenzione"
                                Message="Nessun elemento per l'ID indicato." />
            </div>
        </div>
    }

}

@code {

    private List<Candidato>? candidati;
    private int? idRicerca;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            candidati = await Http.GetFromJsonAsync<List<Candidato>>($"api/Candidati/{idRicerca}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (HttpRequestException)
        {
            candidati = new List<Candidato>();
        }
    }
    public async Task ResetSearch()
    {
        idRicerca = null;
        await OnInitializedAsync();
    }
}
